    .grid-container {
        display: grid;
        grid-template-columns: 45% 12% 9% 9% 9% 10%;
        grid-gap: 5px;
    }

    .grid-labels {
        justify-content: center;
        text-align: center;
    }

    .grid-content-right {
        float: right;
        list-style-type: none;
        justify-content: center;
    }

    .grid-content-left {
        float: left;
        list-style-type: none;
    }

    .grid-item {
        justify-content: center;
        text-align: center;
        padding-top: 5px;
    }

    .checklist-card-size {
        flex: 0 0 90%;
        max-width: 90%;
    }

    .form-section {
        margin-bottom: 20px;
    }

    .mysection {
        position: relative;
        top: 50%;
        height: 300px;
        max-width: 570px;
        border-bottom: 2px solid #000;
        border-left: 2px solid #000;
        display: flex;
    }

    .section-box {
        position: relative;
        flex: 1;
        text-align: center;
    }

    .graph {
        position: absolute;
        width: 40%;
        background: rgba(125, 146, 51, 0.3);
        border: 1px solid rgba(83, 83, 81, 0.75);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .graph::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 0;
        /*background: linear-gradient(0deg, rgb(212, 168, 226), rgb(154, 61, 230)); */
    }

    .graph::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(183, 189, 164, 0.3);
    }

    .result {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .category {
        position: relative;
        bottom: -310px;
        text-align: center;
        padding: 1px;
        border-radius: 1px;
    }

    .contact-image {
        margin: 10px;
        object-fit: scale-down;
        max-width: 30%;
    }

    .contact-contact {
        display: flex;
    }

    .myclass {
        margin-left: 40px;
        margin-top: 10px;
    }

    .mybutton {
        background-color: #4CAF50;
        font-size: 16px;
        border-radius: 8px;
        display: inline-block;
    }

    .home-cards {
        margin-right: 20px;
        margin-left: 20px;
        padding: 11px;
        text-align: center;
        justify-content: center;
        font-size: 143%;
    }

    .myspan {
        font-weight: bold;
        color: rgb(216, 27, 64);
    }

    .boldspan {
        color: rgb(48, 136, 36);
        font-weight: 750;
    }

    .mynav {
        color: black;
        padding-right: 15px;
        padding-top: 20px;
        font-size: 110%;
    }

    .myboxxx {
        border: 1px solid black;
    }

    .my-text {
        font-size: 120%;
    }
