.form-section .current {
    display: inherit;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    color: red;
}

.grid-container {
    display: grid;
    grid-template-columns: 45% 12% 9% 9% 9% 10%;
    grid-gap: 5px;
}

.grid-labels {
    justify-content: center;
    text-align: center;
}

.grid-content-right {
    float: right;
    list-style-type: none;
    justify-content: center;
}

.grid-content-left {
    float: left;
    list-style-type: none;
}

.grid-item {
    justify-content: center;
    text-align: center;
    padding-top: 5px;
}

.checklist-card-size {
    flex: 0 0 90%;
    max-width: 90%;
}

.form-section {
    margin-bottom: 20px;
}

.mysection {
    position: relative;
    top: 50%;
    height: 300px;
    max-width: 570px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    display: flex;
}

.section-box {
    position: relative;
    flex: 1;
    text-align: center;
}

.graph {
    position: absolute;
    width: 40%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.graph::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 0;
    /*background: linear-gradient(0deg, rgb(212, 168, 226), rgb(154, 61, 230)); */
}

.graph::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(183, 189, 164, 0.3);
}

.result {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.extra {
    text-align: center;
}

.form-add {
    display: inline-block;
    text-align: center;
}

.category {
    position: relative;
    bottom: -310px;
    text-align: center;
    padding: 1px;
    border-radius: 1px;
}

.contact-image {
    object-fit: scale-down;
    max-width: 100%;
}

.contact-contact {
    display: flex;
}

.contact {
    background: #ecebe3;
    border: 2px solid black;
}

.myclass {
    margin-left: 40px;
    margin-top: 10px;
}

.mybutton {
    background-color: #4CAF50;
    font-size: 16px;
    border-radius: 8px;
    display: inline-block;
}

.home-cards {
    margin-right: 20px;
    margin-left: 20px;
    padding: 11px;
    text-align: center;
    justify-content: center;
    font-size: 140%;
    background: white;
}

.border-green {
    border: 7px solid #089408;
}

.border-red {
    border: 7px solid #ec0a0a;
}

.border-yellow {
    border: 7px solid #eff305;
}

.tree-logo {
    height: 505px;
    width: 430px
}

.myspan {
    font-weight: bold;
    color: #0fa127;
}

.otherspan {
    font-weight: bold;
    color: #d4740e;
}

.spanred {
    font-weight: bold;
    color: rgb(231, 0, 0);
}

.spangreen {
    font-weight: bold;
    color: rgb(14, 172, 14);
}

.spanblue {
    font-weight: bold;
    color: blue;
}

.spanyellow {
    font-weight: bold;
    color: #dde00b;
}

.just-bold {
    font-weight: bold;
}

.boldspan {
    color: rgb(10, 148, 40);
    font-weight: 750;
}

.mya:hover {
    color: rgb(155, 236, 173);
    font-weight: 750;
    text-decoration: none;
}

.mynav {
    color: rgb(253, 253, 251);
    padding-right: 15px;
    padding-top: 20px;
    font-size: 16pt;
}

.nav-title {
    padding-top: .7rem;
    font-size: 22pt;
    color: rgb(253, 253, 251);
}

.nav-title:hover {
    padding-top: .7rem;
    font-size: 22pt;
    color: #a8eb93;
}

.n-cr {
    font-size: 16pt;
}

.mynav:hover {
    color: #e6e780;
    text-decoration: none;
    padding-right: 15px;
    padding-top: 20px;
    font-size: 16pt;
}

.myboxxx {
    border: 1px solid black;
}

.my-text {
    font-size: 110%;
}

.mytooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
}

.mytooltiptext:hover {
    visibility: visible;
}

.tree-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.result-tree {
    width: 35px;
    height: 590px;
    background-color: saddlebrown;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
}

.branches {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 70px;
}

.branch {
    height: 25px;
    background-color: peru;
    border-radius: 10px;
    display: flex;
}

.ml-20 {
    margin-left: 20px;
}

.ml-m-20 {
    margin-left: -20px;
}


/* ---------------------------------------------------------------- */

.result-tree .cat-branch-r {
    width: 190px;
    transform: rotate(326deg);
}

.result-tree .cat-branch-r .branch-r-top {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.result-tree .cat-branch-r .branch-r-bottom {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.result-tree .cat-branch-r .branch-r-top .mini-branch-t {
    width: 120px;
    height: 15px;
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    border-radius: 10px;
    background-color: peru;
    transform: translateX(30px) translateY(-250%) rotate(315deg);
}

.result-tree .cat-branch-r .branch-r-middle .mini-branch-m {
    width: 120px;
    height: 15px;
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    border-radius: 10px;
    background-color: peru;
    transform: translateX(50px) translateY(35%) rotate(0deg);
}

.result-tree .cat-branch-r .branch-r-bottom .mini-branch-b {
    width: 120px;
    height: 15px;
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    border-radius: 10px;
    background-color: peru;
    transform: translateX(-20px) translateY(250%) rotate(45deg);
}

.result-tree .cat-branch-r .mini-branch-t .m-b-t,
.m-b-m,
.m-b-b {
    display: flex;
    flex-direction: row;
}

.result-tree .cat-branch-r .mini-branch-m .m-b-t,
.m-b-m,
.m-b-b {
    display: flex;
    flex-direction: row;
}

.result-tree .cat-branch-r .mini-branch-b .m-b-t,
.m-b-m,
.m-b-b {
    display: flex;
    flex-direction: row;
}


/* ---------------------------------------------------------------- */

.result-tree .cat-branch-l {
    width: 190px;
    margin-left: 0px;
    margin-right: -39px;
    margin-bottom: 85px;
    justify-content: flex-end;
    transform: rotate(215deg);
}


/*
.result-tree .cat-branch-l .branch-l-top {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.result-tree .cat-branch-l .branch-l-bottom {
    display: flex;
    flex-direction: row;
}*/

.result-tree .cat-branch-l .branch-l-top .mini-branch-t {
    width: 120px;
    height: 15px;
    position: fixed;
    border-radius: 10px;
    background-color: peru;
    transform: translateX(-90px) translateY(275%) rotate(45deg);
}

.result-tree .cat-branch-l .branch-l-middle .mini-branch-m {
    width: 120px;
    height: 15px;
    position: fixed;
    border-radius: 10px;
    background-color: peru;
    transform: translateX(-50px) translateY(35%) rotate(0deg);
}

.result-tree .cat-branch-l .branch-l-bottom .mini-branch-b {
    width: 120px;
    height: 15px;
    position: fixed;
    border-radius: 10px;
    background-color: peru;
    transform: translateX(-90px) translateY(-225%) rotate(315deg);
}

.result-tree .cat-branch-l .mini-branch-t .m-b-t,
.m-b-m,
.m-b-b {
    display: flex;
    flex-direction: row;
}

.result-tree .cat-branch-l .mini-branch-m .m-b-t,
.m-b-m,
.m-b-b {
    display: flex;
    flex-direction: row;
}

.result-tree .cat-branch-l .mini-branch-b .m-b-t,
.m-b-m,
.m-b-b {
    display: flex;
    flex-direction: row;
}


/* ---------------------------------------------------------------- */

.result-tree .cat-branch-r .m-b-t .leaf {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(69px) translateY(-90%) rotate(160deg);
}

.result-tree .cat-branch-r .m-b-t .remove {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(69px) translateY(-90%) rotate(160deg);
}

.result-tree .cat-branch-r .m-b-m .leaf {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(66px) translateY(-18%) rotate(228deg);
}

.result-tree .cat-branch-r .m-b-m .remove {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(66px) translateY(-18%) rotate(230deg);
}

.result-tree .cat-branch-r .m-b-b .leaf {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(-7px) translateY(50%) rotate(110deg);
}

.result-tree .cat-branch-r .m-b-b .remove {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(-7px) translateY(50%) rotate(110deg);
}


/*----------------------------------------------*/

.result-tree .physical .leaf {
    background-color: rgb(233, 8, 8);
}

.result-tree .physical .info {
    background-color: rgb(248, 96, 96);
}

.result-tree .physical .info:hover {
    border: solid 1.5px black;
    box-shadow: 0 5px 15px rgba(16, 250, 8, 0.863);
}

.result-tree .physical .remove {
    background-color: rgba(236, 25, 25, 0.199);
}


/*----------------------------------------------*/

.result-tree .spiritual .leaf {
    background-color: green;
}

.result-tree .spiritual .info {
    background-color: rgb(47, 197, 47);
}

.result-tree .spiritual .info:hover {
    border: solid 1.5px black;
    box-shadow: 0 5px 15px rgba(236, 28, 28, 0.863);
}

.result-tree .spiritual .remove {
    background-color: rgba(50, 219, 53, 0.26);
}


/* ---------------------------------------------------------------- */

.result-tree .cat-branch-l .m-b-t .leaf {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(71px) translateY(-90%) rotate(164deg);
    z-index: 3;
}

.result-tree .cat-branch-l .m-b-t .remove {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(71px) translateY(-90%) rotate(164deg);
}

.result-tree .cat-branch-l .m-b-m .leaf {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(118px) translateY(-112%) rotate(231deg);
    z-index: 3;
}

.result-tree .cat-branch-l .m-b-m .remove {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(116px) translateY(-112%) rotate(231deg);
}

.result-tree .cat-branch-l .m-b-b .leaf {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(71px) translateY(-150%) rotate(105deg);
    z-index: 3;
}

.result-tree .cat-branch-l .m-b-b .remove {
    width: 26px;
    height: 26px;
    border-radius: 100% 0 100% 0;
    transform: translateX(71px) translateY(-150%) rotate(105deg);
}


/*----------------------------------------------*/

.result-tree .cognitive .leaf {
    background-color: rgb(14, 53, 230);
}

.result-tree .cognitive .info {
    background-color: rgb(25, 139, 233);
}

.result-tree .cognitive .info:hover {
    border: solid 1.5px black;
    box-shadow: 0 5px 15px rgba(250, 153, 8, 0.863);
}

.result-tree .cognitive .remove {
    background-color: rgba(25, 39, 236, 0.199);
}


/*----------------------------------------------*/

.result-tree .social-emo .leaf {
    background-color: rgb(236, 214, 11);
}

.result-tree .social-emo .info {
    background-color: rgb(236, 176, 11);
}

.result-tree .social-emo .info:hover {
    border: solid 1.5px black;
    box-shadow: 0 5px 15px rgba(8, 105, 250, 0.863);
}

.result-tree .social-emo .remove {
    background-color: rgba(241, 218, 12, 0.308);
}


/*----------------------------------------------*/

.info {
    border: 1px dashed black;
}

.info:hover {
    border: solid 1.5px black;
    box-shadow: 0 5px 15px rgba(250, 153, 8, 0.863);
}


/* ---------------------------------------------------------------- */

.display-number {
    transform: rotate(180deg);
}


/* ---------------------------------------------------------------- */

.page-content {
    display: flex;
}

.page-item1 {
    margin: 20px;
    margin-left: 25px;
    margin-top: 15px;
}

.table-content {
    padding: 40px;
}

.myp-b {
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.p-container {
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}

.bg-cr-n {
    background-color: #181b3a;
}

.bg-cr-b {
    background-color: #fefbe9;
}

.bigSpace {
    height: 100px;
}

.footer1 {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #181b3a;
    color: white;
    text-align: center;
}

.icon-socials {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    padding: 2px;
    margin: 0 4px;
    height: 29px;
}

.mytext {
    color: rgb(175, 236, 173);
}

.mytext:hover {
    color: rgb(238, 168, 168);
    text-decoration: none;
}

.my-wrapper {
    display: grid;
    grid-template-columns: 26% 72%;
    grid-row: 1;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.my-wrapper-o {
    display: grid;
    grid-template-columns: 67% 31%;
    grid-row: 1;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.my-wrapper-a {
    display: grid;
    grid-template-columns: 36% 40%;
    grid-row: 1;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.my-wrap-item {
    padding: 5px;
}

.line-sp {
    border-left: 3px solid black;
    padding: 7px;
}

.gc-link {
    font-size: 140%;
    text-decoration: none;
    color: rgb(12, 85, 12);
}

.gc-link:hover {
    font-size: 140%;
    text-decoration: none;
    color: rgb(189, 117, 8);
}

.myhr {
    width: 85%;
}

.button-74 {
    background-color: #f8fad8;
    border: 2px solid #1b1102;
    border-radius: 30px;
    box-shadow: #1b1102 4px 4px 0 0;
    color: #1b1102;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #fefbe9;
    text-decoration: none;
    color: #1b1102;
}

.button-74:active {
    box-shadow: #1b1102 2px 2px 0 0;
    transform: translate(2px, 2px);
    text-decoration: none;
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}

.my-button-style {
    margin-bottom: 30px;
    text-align: center;
    font-size: 130%
}

.thick-p {
    font-weight: 110%;
}

body,
html {
    background: #F5F4EB;
    height: 100%;
    padding: 0;
    margin: 0
}

.chk-b-color {
    background-color: rgb(238, 248, 238);
}

.section1-about-tree {
    font-size: 125%;
    font-weight: 105%;
}

.grid-con-a-t {
    display: flex;
    justify-content: center;
}

.grid-a-t {
    display: inline-grid;
}

.grid-item-a-t {
    padding: 20px;
    align-items: center;
    margin: 5px;
    background-color: #ecebe3;
    font-size: 15px;
    width: 250px;
    font-weight: bold;
    text-align: center;
}

.cog {
    border: 3px solid #0820f0;
}

.phy {
    border: 3px solid #fd0404;
}

.s-e {
    border: 3px solid #fdec04;
}

.spirit {
    border: 3px solid green;
}

.total {
    border: 3px solid black;
}

.total-per {
    display: flex;
    justify-content: center;
    font-size: 130%;
    padding: 8px;
}